body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #beccd6;
  margin: 0;
  padding: 0;
}
.l1 {
  display: flex;
  justify-content: space-between;
  margin: 40px 80px;
  align-items: center;
  font-size: 1.5em;
}
.reset {
  width: 120px;
  height: 60px;
  font-weight: bold;
  font-size: 25px;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
}

.outro {
  display: flex;
  justify-content: center;
  font-size: 50px;
  font-weight: bold;
}
.number {
  font-size: 100px;
  display: flex;
  padding: 30px;
  font-weight: bold;
  justify-content: center;
}
.fun {
  background-color: lightblue;
  padding: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20px;
}
.check {
  height: 40px;
  width: 100px;
  grid-column: 1;
  grid-row: 2/4;
  align-self: center;
  justify-self: center;
  font-weight: bold;
}
.inp_num {
  text-align: center;
  font-size: 30px;
  width: 40%;
  height: 60px;
  align-self: center;
  justify-self: center;
}
